  <div class="min-h-screen pb-20">
    <!-- Header -->
    <section>
      <div class="w-full relative pb-20">
        <div
          class="h-[200px] w-full"
          style="background: linear-gradient(180deg, #2969bf 0%, #144e9d 100%)"
        ></div>
        <div class="w-full absolute z-10 bottom-10 mt-5">
          <div
            class="max-w-5xl mx-auto flex px-5 py-3 gap-3 bg-white rounded-lg shadow-md"
          >
            <div
              class="p-3 flex gap-2 bg-[#F2F2F2] text-[#4F4F4F] rounded-md items-center"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
              >
                <path
                  d="M9.9999 11.1917C10.3413 11.1917 10.6794 11.1244 10.9949 10.9938C11.3103 10.8631 11.5969 10.6716 11.8384 10.4302C12.0798 10.1887 12.2713 9.90212 12.402 9.58668C12.5327 9.27123 12.5999 8.93314 12.5999 8.5917C12.5999 8.25026 12.5327 7.91217 12.402 7.59672C12.2713 7.28128 12.0798 6.99465 11.8384 6.75322C11.5969 6.51179 11.3103 6.32027 10.9949 6.18961C10.6794 6.05895 10.3413 5.9917 9.9999 5.9917C9.31034 5.9917 8.64902 6.26563 8.16142 6.75322C7.67383 7.24082 7.3999 7.90214 7.3999 8.5917C7.3999 9.28126 7.67383 9.94258 8.16142 10.4302C8.64902 10.9178 9.31034 11.1917 9.9999 11.1917V11.1917Z"
                  stroke="#828282"
                  stroke-width="1.5"
                />
                <path
                  d="M3.01675 7.07508C4.65842 -0.141583 15.3501 -0.13325 16.9834 7.08342C17.9417 11.3168 15.3084 14.9001 13.0001 17.1168C12.1935 17.8947 11.1165 18.3294 9.99592 18.3294C8.87529 18.3294 7.79835 17.8947 6.99175 17.1168C4.69175 14.9001 2.05842 11.3084 3.01675 7.07508V7.07508Z"
                  stroke="#828282"
                  stroke-width="1.5"
                />
              </svg>
              <input
                type="text"
                value="Austin"
                class="bg-[#F2F2F2] focus:outline-none"
              />
            </div>
            <div
              class="p-3 flex gap-2 bg-[#F2F2F2] text-[#4F4F4F] rounded-md items-center"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
              >
                <path
                  d="M6.6665 1.66675V4.16675"
                  stroke="#828282"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M13.3335 1.66675V4.16675"
                  stroke="#828282"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M2.9165 7.5752H17.0832"
                  stroke="#828282"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M17.5 7.08341V14.1667C17.5 16.6667 16.25 18.3334 13.3333 18.3334H6.66667C3.75 18.3334 2.5 16.6667 2.5 14.1667V7.08341C2.5 4.58341 3.75 2.91675 6.66667 2.91675H13.3333C16.25 2.91675 17.5 4.58341 17.5 7.08341Z"
                  stroke="#828282"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M13.0791 11.4167H13.0866"
                  stroke="#828282"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M13.0791 13.9167H13.0866"
                  stroke="#828282"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M9.99561 11.4167H10.0039"
                  stroke="#828282"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M9.99561 13.9167H10.0039"
                  stroke="#828282"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M6.91162 11.4167H6.91995"
                  stroke="#828282"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M6.91162 13.9167H6.91995"
                  stroke="#828282"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <input
                value="2023-03-18"
                class="bg-[#F2F2F2]"
                type="text"
                onfocus="(this.type='date')"
                onblur="(this.type='text')"
              />
            </div>
            <div
              class="p-3 flex gap-2 bg-[#F2F2F2] text-[#4F4F4F] rounded-md items-center w-full"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
              >
                <g clip-path="url(#clip0_369_25)">
                  <path
                    d="M15.1166 18.0168C14.3833 18.2335 13.5166 18.3335 12.5 18.3335H7.49997C6.4833 18.3335 5.61663 18.2335 4.8833 18.0168C5.06663 15.8502 7.29163 14.1418 9.99997 14.1418C12.7083 14.1418 14.9333 15.8502 15.1166 18.0168V18.0168Z"
                    stroke="#828282"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M12.4998 1.66675H7.49984C3.33317 1.66675 1.6665 3.33341 1.6665 7.50008V12.5001C1.6665 15.6501 2.6165 17.3751 4.88317 18.0167C5.0665 15.8501 7.2915 14.1417 9.99984 14.1417C12.7082 14.1417 14.9332 15.8501 15.1165 18.0167C17.3832 17.3751 18.3332 15.6501 18.3332 12.5001V7.50008C18.3332 3.33341 16.6665 1.66675 12.4998 1.66675ZM9.99984 11.8084C8.34984 11.8084 7.0165 10.4667 7.0165 8.81675C7.0165 7.16675 8.34984 5.83341 9.99984 5.83341C11.6498 5.83341 12.9832 7.16675 12.9832 8.81675C12.9832 10.4667 11.6498 11.8084 9.99984 11.8084Z"
                    stroke="#828282"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M12.9833 8.81683C12.9833 10.4668 11.6499 11.8085 9.99993 11.8085C8.34993 11.8085 7.0166 10.4668 7.0166 8.81683C7.0166 7.16683 8.34993 5.8335 9.99993 5.8335C11.6499 5.8335 12.9833 7.16683 12.9833 8.81683Z"
                    stroke="#828282"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_369_25">
                    <rect width="20" height="20" fill="white" />
                  </clipPath>
                </defs>
              </svg>
              <input
                type="text"
                value="2 Adults"
                class="bg-[#F2F2F2] focus:outline-none w-full"
              />
            </div>
            <div
              class="p-3 flex gap-2 bg-[#F2F2F2] text-[#4F4F4F] rounded-md items-center"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
              >
                <g clip-path="url(#clip0_369_50)">
                  <path
                    d="M15.1166 18.0168C14.3833 18.2335 13.5166 18.3335 12.5 18.3335H7.49997C6.4833 18.3335 5.61663 18.2335 4.8833 18.0168C5.06663 15.8502 7.29163 14.1418 9.99997 14.1418C12.7083 14.1418 14.9333 15.8502 15.1166 18.0168V18.0168Z"
                    stroke="#828282"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M12.4998 1.66675H7.49984C3.33317 1.66675 1.6665 3.33341 1.6665 7.50008V12.5001C1.6665 15.6501 2.6165 17.3751 4.88317 18.0167C5.0665 15.8501 7.2915 14.1417 9.99984 14.1417C12.7082 14.1417 14.9332 15.8501 15.1165 18.0167C17.3832 17.3751 18.3332 15.6501 18.3332 12.5001V7.50008C18.3332 3.33341 16.6665 1.66675 12.4998 1.66675ZM9.99984 11.8084C8.34984 11.8084 7.0165 10.4667 7.0165 8.81675C7.0165 7.16675 8.34984 5.83341 9.99984 5.83341C11.6498 5.83341 12.9832 7.16675 12.9832 8.81675C12.9832 10.4667 11.6498 11.8084 9.99984 11.8084Z"
                    stroke="#828282"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M12.9833 8.81683C12.9833 10.4668 11.6499 11.8085 9.99993 11.8085C8.34993 11.8085 7.0166 10.4668 7.0166 8.81683C7.0166 7.16683 8.34993 5.8335 9.99993 5.8335C11.6499 5.8335 12.9833 7.16683 12.9833 8.81683Z"
                    stroke="#828282"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_369_50">
                    <rect width="20" height="20" fill="white" />
                  </clipPath>
                </defs>
              </svg>
              <input
                type="text"
                value="Weekend getaway"
                class="bg-[#F2F2F2] focus:outline-none"
              />
            </div>
            <button
              class="bg-[#2F80ED] w-full text-white rounded-md hover:bg-blue-600 duration-150"
            >
              Search
            </button>
          </div>
        </div>
      </div>
    </section>

    <!-- content -->
    <section>
      <div class="max-w-7xl mx-auto w-full">
        <div class="grid grid-cols-3 gap-5">
          <div></div>
          <h2 class="font-thin text-2xl col-span-2">
            Austin : 2,582 search results found
          </h2>
          <div></div>
          <div class="col-span-2 flex justify-between text-[#4F4F4F]">
            <div class="flex cursor-pointer w-full">
              <button
                class="border px-4 py-2 rounded-l-md border-[#2F80ED] bg-[#2F80ED] text-[#2F80ED]"
                style="background: rgba(47, 128, 237, 0.05)"
              >
                Our top picks
              </button>
              <button class="border border-l-0 border-[#2F80ED] px-4 py-2">
                Hotel and apartments
              </button>
              <button class="border border-l-0 border-[#2F80ED] px-4 py-2">
                Residence
              </button>
              <button
                class="border border-l-0 rounded-r-md border-[#2F80ED] px-4 py-2"
              >
                Shared Space
              </button>
            </div>
            <div
              class="px-3 py-2 flex items-center w-1/3 cursor-pointer justify-between border border-[#828282] rounded-md"
            >
              <div>
                <p>Sort by</p>
                <p class="text-black">Recommended</p>
              </div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
              >
                <path
                  d="M13.2797 5.96655L8.93306 10.3132C8.41973 10.8266 7.57973 10.8266 7.06639 10.3132L2.71973 5.96655"
                  stroke="#4F4F4F"
                  stroke-width="2"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>
          <div class="flex flex-col gap-5 w-2/3">
            <h3 class="text-[#333333] text-lg font-thin">Filter by</h3>
            <div
              class="flex flex-col w-full border border-[#E0E0E0] rounded-md"
            >
              <div class="bg-[#F2F2F2] p-5 rounded-t-md">
                <p>Platforms</p>
              </div>
              <div class="flex flex-col gap-2 p-5 rounded-b-md">
                <div class="flex gap-2 items-center">
                  <input type="checkbox" name="ABNB" />
                  <p class="text-[#333333] text-sm">ABNB</p>
                </div>
                <div class="flex gap-2 items-center">
                  <input type="checkbox" name="ABNB" />
                  <p class="text-[#333333] text-sm">VRBO</p>
                </div>
                <div class="flex gap-2 items-center">
                  <input type="checkbox" name="ABNB" />
                  <p class="text-[#333333] text-sm">$ 500 - $ 1,000</p>
                </div>
                <div class="flex gap-2 items-center">
                  <input type="checkbox" name="ABNB" />
                  <p class="text-[#333333] text-sm">$ 1,000 - $ 2,000</p>
                </div>
                <div class="flex gap-2 items-center">
                  <input type="checkbox" name="ABNB" />
                  <p class="text-[#333333] text-sm">$ 2,000 - $ 5,000</p>
                </div>
                <div class="flex gap-2 items-center justify-between">
                  <p class="text-[#333333] text-sm">Set your own budget</p>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="36"
                    height="28"
                    viewBox="0 0 36 28"
                    fill="none"
                  >
                    <rect
                      x="4"
                      y="4"
                      width="32"
                      height="16"
                      rx="8"
                      fill="#BDBDBD"
                    />
                    <g filter="url(#filter0_d_303_283)">
                      <rect
                        x="4"
                        y="2"
                        width="20"
                        height="20"
                        rx="10"
                        fill="white"
                      />
                    </g>
                    <defs>
                      <filter
                        id="filter0_d_303_283"
                        x="0"
                        y="0"
                        width="28"
                        height="28"
                        filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB"
                      >
                        <feFlood
                          flood-opacity="0"
                          result="BackgroundImageFix"
                        />
                        <feColorMatrix
                          in="SourceAlpha"
                          type="matrix"
                          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                          result="hardAlpha"
                        />
                        <feOffset dy="2" />
                        <feGaussianBlur stdDeviation="2" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix
                          type="matrix"
                          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
                        />
                        <feBlend
                          mode="normal"
                          in2="BackgroundImageFix"
                          result="effect1_dropShadow_303_283"
                        />
                        <feBlend
                          mode="normal"
                          in="SourceGraphic"
                          in2="effect1_dropShadow_303_283"
                          result="shape"
                        />
                      </filter>
                    </defs>
                  </svg>
                </div>
              </div>
            </div>
            <div
              class="flex flex-col w-full border border-[#E0E0E0] rounded-md"
            >
              <div class="bg-[#F2F2F2] p-5 rounded-t-md">
                <p>Rating</p>
              </div>
              <div class="flex flex-col gap-2 p-5 rounded-b-md">
                <p class="text-sm">Show only ratings more than</p>
                <div class="grid grid-cols-5 cursor-pointer">
                  <div class="border rounded-l-md p-1 border-[#E0E0E0]">
                    <div class="flex items-center justify-center gap-2">
                      <p>1</p>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="18"
                        height="18"
                        viewBox="0 0 18 18"
                        fill="none"
                      >
                        <g clip-path="url(#clip0_303_127)">
                          <path
                            d="M9.00018 12.75L4.59168 15.4425L5.79018 10.4175L1.86768 7.0575L7.01643 6.645L9.00018 1.875L10.9839 6.645L16.1334 7.0575L12.2102 10.4175L13.4087 15.4425L9.00018 12.75Z"
                            fill="#F2994A"
                          />
                        </g>
                        <defs>
                          <clipPath id="clip0_303_127">
                            <rect width="18" height="18" fill="white" />
                          </clipPath>
                        </defs>
                      </svg>
                    </div>
                  </div>
                  <div class="border border-l-0 p-1 border-[#E0E0E0]">
                    <div class="flex items-center justify-center gap-2">
                      <p>2</p>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="18"
                        height="18"
                        viewBox="0 0 18 18"
                        fill="none"
                      >
                        <g clip-path="url(#clip0_303_127)">
                          <path
                            d="M9.00018 12.75L4.59168 15.4425L5.79018 10.4175L1.86768 7.0575L7.01643 6.645L9.00018 1.875L10.9839 6.645L16.1334 7.0575L12.2102 10.4175L13.4087 15.4425L9.00018 12.75Z"
                            fill="#F2994A"
                          />
                        </g>
                        <defs>
                          <clipPath id="clip0_303_127">
                            <rect width="18" height="18" fill="white" />
                          </clipPath>
                        </defs>
                      </svg>
                    </div>
                  </div>
                  <div class="border border-l-0 p-1 border-[#E0E0E0]">
                    <div class="flex items-center justify-center gap-2">
                      <p>3</p>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="18"
                        height="18"
                        viewBox="0 0 18 18"
                        fill="none"
                      >
                        <g clip-path="url(#clip0_303_127)">
                          <path
                            d="M9.00018 12.75L4.59168 15.4425L5.79018 10.4175L1.86768 7.0575L7.01643 6.645L9.00018 1.875L10.9839 6.645L16.1334 7.0575L12.2102 10.4175L13.4087 15.4425L9.00018 12.75Z"
                            fill="#F2994A"
                          />
                        </g>
                        <defs>
                          <clipPath id="clip0_303_127">
                            <rect width="18" height="18" fill="white" />
                          </clipPath>
                        </defs>
                      </svg>
                    </div>
                  </div>
                  <div class="border border-l-0 p-1 border-[#E0E0E0]">
                    <div class="flex items-center justify-center gap-2">
                      <p>5</p>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="18"
                        height="18"
                        viewBox="0 0 18 18"
                        fill="none"
                      >
                        <g clip-path="url(#clip0_303_127)">
                          <path
                            d="M9.00018 12.75L4.59168 15.4425L5.79018 10.4175L1.86768 7.0575L7.01643 6.645L9.00018 1.875L10.9839 6.645L16.1334 7.0575L12.2102 10.4175L13.4087 15.4425L9.00018 12.75Z"
                            fill="#F2994A"
                          />
                        </g>
                        <defs>
                          <clipPath id="clip0_303_127">
                            <rect width="18" height="18" fill="white" />
                          </clipPath>
                        </defs>
                      </svg>
                    </div>
                  </div>
                  <div
                    class="border rounded-r-md border-l-0 p-1 border-[#E0E0E0]"
                  >
                    <div class="flex items-center justify-center gap-2">
                      <p>4</p>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="18"
                        height="18"
                        viewBox="0 0 18 18"
                        fill="none"
                      >
                        <g clip-path="url(#clip0_303_127)">
                          <path
                            d="M9.00018 12.75L4.59168 15.4425L5.79018 10.4175L1.86768 7.0575L7.01643 6.645L9.00018 1.875L10.9839 6.645L16.1334 7.0575L12.2102 10.4175L13.4087 15.4425L9.00018 12.75Z"
                            fill="#F2994A"
                          />
                        </g>
                        <defs>
                          <clipPath id="clip0_303_127">
                            <rect width="18" height="18" fill="white" />
                          </clipPath>
                        </defs>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="flex flex-col w-full border border-[#E0E0E0] rounded-md"
            >
              <div class="bg-[#F2F2F2] p-5 rounded-t-md">
                <p>Popular Filters</p>
              </div>
              <div class="flex flex-col gap-2 p-5 rounded-b-md">
                <div class="flex gap-2 items-center">
                  <input type="checkbox" name="ABNB" />
                  <div
                    class="text-[#333333] text-sm flex w-full items-center justify-between"
                  >
                    <span> Free cancellation </span>
                    <span> 200 </span>
                  </div>
                </div>
                <div class="flex gap-2 items-center">
                  <input type="checkbox" name="ABNB" />
                  <div
                    class="text-[#333333] text-sm flex w-full items-center justify-between"
                  >
                    <span> Spa </span>
                    <span> 100</span>
                  </div>
                </div>
                <div class="flex gap-2 items-center">
                  <input type="checkbox" name="ABNB" />
                  <div
                    class="text-[#333333] text-sm flex w-full items-center justify-between"
                  >
                    <span> Beach front </span>
                    <span> 15 </span>
                  </div>
                </div>
                <div class="flex gap-2 items-center">
                  <input type="checkbox" name="ABNB" />
                  <div
                    class="text-[#333333] text-sm flex w-full items-center justify-between"
                  >
                    <span> Hot tub/ jacuzzi </span>
                    <span> 12</span>
                  </div>
                </div>
                <div class="flex gap-2 items-center">
                  <input type="checkbox" name="ABNB" />
                  <div
                    class="text-[#333333] text-sm flex w-full items-center justify-between"
                  >
                    <span> Book without credit card </span>
                    <span> 230 </span>
                  </div>
                </div>
                <div class="flex gap-2 items-center">
                  <input type="checkbox" name="ABNB" />
                  <div
                    class="text-[#333333] text-sm flex w-full items-center justify-between"
                  >
                    <span> No prepayment </span>
                    <span> 12 </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-span-2 flex flex-col gap-5">
            <div
              class="w-full border border-[#E0E0E0] rounded-md p-5 grid grid-cols-3 gap-5"
            >
              <img
                src="https://s3-alpha-sig.figma.com/img/0923/8943/88f51e8ab92d2b062b27216f62a273a0?Expires=1701043200&Signature=c1dH5YzCXCKAGCbXeovKN9834Ka7uRwQyR6mrc-6~CFiKsvzILXtypklpfg9IKlfRv4Mc~umcBgg-rzFgQt3gY-KjBe4iprlfTPJsRezBZ26NzXxJAl3DSqRHRW1zyfVNELyTSXEhBsVVF64FF6LrF95k0~QBVA8OURqH~YqI5QVgVSxJGffD~ITij08ITOFZ8y9csW26FOQhLsfbuxDSG9FeTjJRowPeO1xlw43QkpAkC3JIhxh~R1XjsWLmXe5RYbwVDXAgIi7lOUMF~7igZpaSbyB4AKXZO6-SL0YB7TaA7LFyPko8O3BbDIx-kTEnQiuLHVXmXJQf6PraBxCug__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                class="rounded-md"
              />
              <div class="col-span-2 flex flex-col gap-2 w-full relative">
                <h3 class="text-xl font-medium">Lakeside Motel Warefront</h3>
                <div
                  class="absolute z-10 bg-[#EB5757] right-0 rounded-md px-2 py-1 text-xs text-white"
                >
                  <span class="font-medium">Book now and receive 15% off</span>
                </div>
                <div class="flex items-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_303_421)">
                      <path
                        d="M10.0002 14.1666L5.10186 17.1583L6.43353 11.5749L2.0752 7.84159L7.79603 7.38325L10.0002 2.08325L12.2044 7.38325L17.926 7.84159L13.5669 11.5749L14.8985 17.1583L10.0002 14.1666Z"
                        fill="#F2994A"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_303_421">
                        <rect width="20" height="20" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_303_421)">
                      <path
                        d="M10.0002 14.1666L5.10186 17.1583L6.43353 11.5749L2.0752 7.84159L7.79603 7.38325L10.0002 2.08325L12.2044 7.38325L17.926 7.84159L13.5669 11.5749L14.8985 17.1583L10.0002 14.1666Z"
                        fill="#F2994A"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_303_421">
                        <rect width="20" height="20" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_303_421)">
                      <path
                        d="M10.0002 14.1666L5.10186 17.1583L6.43353 11.5749L2.0752 7.84159L7.79603 7.38325L10.0002 2.08325L12.2044 7.38325L17.926 7.84159L13.5669 11.5749L14.8985 17.1583L10.0002 14.1666Z"
                        fill="#F2994A"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_303_421">
                        <rect width="20" height="20" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_303_421)">
                      <path
                        d="M10.0002 14.1666L5.10186 17.1583L6.43353 11.5749L2.0752 7.84159L7.79603 7.38325L10.0002 2.08325L12.2044 7.38325L17.926 7.84159L13.5669 11.5749L14.8985 17.1583L10.0002 14.1666Z"
                        fill="#F2994A"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_303_421">
                        <rect width="20" height="20" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="10"
                    height="20"
                    viewBox="0 0 10 20"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_303_437)">
                      <path
                        d="M10.0002 14.1666L5.10186 17.1583L6.43353 11.5749L2.0752 7.84159L7.79603 7.38325L10.0002 2.08325L12.2044 7.38325L17.926 7.84159L13.5669 11.5749L14.8985 17.1583L10.0002 14.1666Z"
                        fill="#F2994A"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_303_437">
                        <rect width="10" height="20" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                  <p class="ml-2 text-[#4F4F4F] text-sm">4.5 (1200 Reviews)</p>
                </div>
                <p class="text-sm font-medium text-[#4F4F4F]">
                  Live a little and celbrate with champagne
                </p>
                <div class="flex items-center justify-between">
                  <div class="flex flex-col gap-4">
                    <p class="text-xs text-[#4F4F4F]">
                      Reats include a glass of French champagne, parking and a
                      late checkout. Gym included. Flexible cancellation applies
                    </p>
                    <div>
                      <button
                        class="px-4 py-2 rounded-md text-white bg-[#2F80ED]"
                      >
                        See availability
                      </button>
                    </div>
                  </div>
                  <div class="flex flex-col gap-2 items-end w-full">
                    <div>
                      <button
                        class="px-2 py-1 bg-[#219653] rounded-md text-white text-sm"
                      >
                        5% off
                      </button>
                    </div>
                    <p class="text-sm text-[#333]">1 room 2 days</p>
                    <div class="flex items-center gap-2">
                      <p
                        class="text-[#EB5757] text-sm font-medium line-through"
                      >
                        $150
                      </p>
                      <p class="text-xl font-medium">$130</p>
                    </div>
                    <p class="text-sm font-light text-[#333]">
                      Includes taxes and fees
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="w-full border border-[#E0E0E0] rounded-md p-5 grid grid-cols-3 gap-5"
            >
              <img
                src="https://s3-alpha-sig.figma.com/img/7283/e421/c6543a3f981e371d378a34ef5fa06a65?Expires=1701043200&Signature=pOk8i2hy9RhX8i~7jYOfEBLCurhhyrDh1wGHiUePIZ3P05Vaip4z9LwRDz~YBtv8fbFPYM9Rr~qSe7a4~qP9A3pPx6TeYCR3mfKuSvTHsRYIopGqufB68S0JEOZhTblsJdwpt0t51AKhlESYd0YfJKF~WbmgkpjCOV2mdZtGafBQkEAjtj60OA43opaJwAz80vOYw0w9FsmQnTKlSXCpTVyS0qhGj8Z96NBDSO4rI1VWNyxoxElYzGrbfoXoTRy5zRpIvoxxwAYjM43oXGB8AjHeQM7vmDwnfbAtOSglTNKJGrm9CIp5opV~09r1MyZ51R3Wv2iRyrJVTo4xaMb0Vw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                class="rounded-md"
              />
              <div class="col-span-2 flex flex-col gap-2 w-full relative">
                <h3 class="text-xl font-medium">Julia Dens Resort</h3>
                <div class="flex items-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_303_421)">
                      <path
                        d="M10.0002 14.1666L5.10186 17.1583L6.43353 11.5749L2.0752 7.84159L7.79603 7.38325L10.0002 2.08325L12.2044 7.38325L17.926 7.84159L13.5669 11.5749L14.8985 17.1583L10.0002 14.1666Z"
                        fill="#F2994A"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_303_421">
                        <rect width="20" height="20" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_303_421)">
                      <path
                        d="M10.0002 14.1666L5.10186 17.1583L6.43353 11.5749L2.0752 7.84159L7.79603 7.38325L10.0002 2.08325L12.2044 7.38325L17.926 7.84159L13.5669 11.5749L14.8985 17.1583L10.0002 14.1666Z"
                        fill="#F2994A"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_303_421">
                        <rect width="20" height="20" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_303_421)">
                      <path
                        d="M10.0002 14.1666L5.10186 17.1583L6.43353 11.5749L2.0752 7.84159L7.79603 7.38325L10.0002 2.08325L12.2044 7.38325L17.926 7.84159L13.5669 11.5749L14.8985 17.1583L10.0002 14.1666Z"
                        fill="#F2994A"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_303_421">
                        <rect width="20" height="20" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_303_421)">
                      <path
                        d="M10.0002 14.1666L5.10186 17.1583L6.43353 11.5749L2.0752 7.84159L7.79603 7.38325L10.0002 2.08325L12.2044 7.38325L17.926 7.84159L13.5669 11.5749L14.8985 17.1583L10.0002 14.1666Z"
                        fill="#F2994A"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_303_421">
                        <rect width="20" height="20" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="10"
                    height="20"
                    viewBox="0 0 10 20"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_303_437)">
                      <path
                        d="M10.0002 14.1666L5.10186 17.1583L6.43353 11.5749L2.0752 7.84159L7.79603 7.38325L10.0002 2.08325L12.2044 7.38325L17.926 7.84159L13.5669 11.5749L14.8985 17.1583L10.0002 14.1666Z"
                        fill="#F2994A"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_303_437">
                        <rect width="10" height="20" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                  <p class="ml-2 text-[#4F4F4F] text-sm">4.5 (1200 Reviews)</p>
                </div>
                <p class="text-sm font-medium text-[#4F4F4F]">
                  Live a little and celbrate with champagne
                </p>
                <div class="flex items-center justify-between">
                  <div class="flex flex-col gap-4">
                    <p class="text-xs text-[#4F4F4F]">
                      Reats include a glass of French champagne, parking and a
                      late checkout. Gym included. Flexible cancellation applies
                    </p>
                    <div>
                      <button
                        class="px-4 py-2 rounded-md text-white bg-[#2F80ED]"
                      >
                        See availability
                      </button>
                    </div>
                  </div>
                  <div class="flex flex-col gap-2 items-end w-full">
                    <p class="text-sm text-[#333]">1 room 2 days</p>
                    <div class="flex items-center gap-2">
                      <p class="text-xl font-medium">$240</p>
                    </div>
                    <p class="text-sm font-light text-[#333]">
                      Includes taxes and fees
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="w-full border border-[#E0E0E0] rounded-md p-5 grid grid-cols-3 gap-5"
            >
              <img
                src="https://s3-alpha-sig.figma.com/img/09eb/7a26/657367eb97d3c653e7d6eb0031f631e1?Expires=1701043200&Signature=dQxsY9Z7aDkfaVxqhVxbArYWvgSH8dwJzez3srWL-73gbV-3QoNcqSVyqmgSSdxLL7Hy684LoI~J-41wKnhRAfFBa-P119WV6p77rkhkSSz11yoj6HQClSXt6NehVlLGnNTWHtAz6MuIxpmwMvav~og4hj0SrJgcV9DEUJ-CFYGeEuvmsUezlmuAZ4lCleP7E-dacUfrqWWv0hg4a8RYQoSGNSQETZC8bCGJDpekn4IbDinKiTfdmwqDyXHqUcS4YvJ1TJSYyovWdnZNnbwqXf5yU4ClbAKhgkOGi9P9fL-bGpziFsl3nXA4yL9pNSEnuA~Ex47q-YYnV6kHaN5e7A__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                class="rounded-md"
              />
              <div class="col-span-2 flex flex-col gap-2 w-full relative">
                <h3 class="text-xl font-medium">Aghnim Scepter Hotel</h3>
                <div
                  class="absolute z-10 bg-[#F2994A] right-0 rounded-md px-2 py-1 text-xs text-white"
                >
                  <span class="font-medium"
                    >Receive 30% discount on a restaurant</span
                  >
                </div>
                <div class="flex items-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_303_421)">
                      <path
                        d="M10.0002 14.1666L5.10186 17.1583L6.43353 11.5749L2.0752 7.84159L7.79603 7.38325L10.0002 2.08325L12.2044 7.38325L17.926 7.84159L13.5669 11.5749L14.8985 17.1583L10.0002 14.1666Z"
                        fill="#F2994A"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_303_421">
                        <rect width="20" height="20" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_303_421)">
                      <path
                        d="M10.0002 14.1666L5.10186 17.1583L6.43353 11.5749L2.0752 7.84159L7.79603 7.38325L10.0002 2.08325L12.2044 7.38325L17.926 7.84159L13.5669 11.5749L14.8985 17.1583L10.0002 14.1666Z"
                        fill="#F2994A"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_303_421">
                        <rect width="20" height="20" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_303_421)">
                      <path
                        d="M10.0002 14.1666L5.10186 17.1583L6.43353 11.5749L2.0752 7.84159L7.79603 7.38325L10.0002 2.08325L12.2044 7.38325L17.926 7.84159L13.5669 11.5749L14.8985 17.1583L10.0002 14.1666Z"
                        fill="#F2994A"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_303_421">
                        <rect width="20" height="20" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_303_421)">
                      <path
                        d="M10.0002 14.1666L5.10186 17.1583L6.43353 11.5749L2.0752 7.84159L7.79603 7.38325L10.0002 2.08325L12.2044 7.38325L17.926 7.84159L13.5669 11.5749L14.8985 17.1583L10.0002 14.1666Z"
                        fill="#F2994A"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_303_421">
                        <rect width="20" height="20" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="10"
                    height="20"
                    viewBox="0 0 10 20"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_303_437)">
                      <path
                        d="M10.0002 14.1666L5.10186 17.1583L6.43353 11.5749L2.0752 7.84159L7.79603 7.38325L10.0002 2.08325L12.2044 7.38325L17.926 7.84159L13.5669 11.5749L14.8985 17.1583L10.0002 14.1666Z"
                        fill="#F2994A"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_303_437">
                        <rect width="10" height="20" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                  <p class="ml-2 text-[#4F4F4F] text-sm">4.5 (1200 Reviews)</p>
                </div>
                <p class="text-sm font-medium text-[#4F4F4F]">
                  Live a little and celbrate with champagne
                </p>
                <div class="flex items-center justify-between">
                  <div class="flex flex-col gap-4">
                    <p class="text-xs text-[#4F4F4F]">
                      Reats include a glass of French champagne, parking and a
                      late checkout. Gym included. Flexible cancellation applies
                    </p>
                    <div>
                      <button
                        class="px-4 py-2 rounded-md text-white bg-[#2F80ED]"
                      >
                        See availability
                      </button>
                    </div>
                  </div>
                  <div class="flex flex-col gap-2 items-end w-full">
                    <p class="text-sm text-[#333]">1 room 2 days</p>
                    <div class="flex items-center gap-2">
                      <p class="text-xl font-medium">$300</p>
                    </div>
                    <p class="text-sm font-light text-[#333]">
                      Includes taxes and fees
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="w-full border border-[#E0E0E0] rounded-md p-5 grid grid-cols-3 gap-5"
            >
              <img
                src="https://s3-alpha-sig.figma.com/img/056c/08f6/a6abd2b449338aa578114c999bcb093e?Expires=1701043200&Signature=GKjspj7L8AVCoAE-AJOFKu8Kd2gXnmGE7nGsCzceSgGY71RPw85~9sCJGhVcfYHCfXOLRdhHHvXpJ1oFAu8BdTbWd24cYmy0vQdIwiQBaa90h5~QyJMDSugkIS9EYN3XMGaTb5DY~gFcWp7owbDQRZjnp4SQarLe~vBckVFsZBaxN-Rwfc565hCilNGt~~-y2z9F4RxqnK8Ser4Jc-oTlWAgNjsKm~yFAyBHuX1fJ5OtiLk~yyxHGIi~6qWTDN~vrlnZq7BccH4EubMH5mTywhm9NIeEQhVebONX5qsApiSG4v~SEjQkEYdJvgo46dzBo4tX0GJ-stNiKXsQDf76ag__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                class="rounded-md"
              />
              <div class="col-span-2 flex flex-col gap-2 w-full relative">
                <h3 class="text-xl font-medium">Marineford Hotel</h3>
                <div class="flex items-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_303_421)">
                      <path
                        d="M10.0002 14.1666L5.10186 17.1583L6.43353 11.5749L2.0752 7.84159L7.79603 7.38325L10.0002 2.08325L12.2044 7.38325L17.926 7.84159L13.5669 11.5749L14.8985 17.1583L10.0002 14.1666Z"
                        fill="#F2994A"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_303_421">
                        <rect width="20" height="20" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_303_421)">
                      <path
                        d="M10.0002 14.1666L5.10186 17.1583L6.43353 11.5749L2.0752 7.84159L7.79603 7.38325L10.0002 2.08325L12.2044 7.38325L17.926 7.84159L13.5669 11.5749L14.8985 17.1583L10.0002 14.1666Z"
                        fill="#F2994A"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_303_421">
                        <rect width="20" height="20" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_303_421)">
                      <path
                        d="M10.0002 14.1666L5.10186 17.1583L6.43353 11.5749L2.0752 7.84159L7.79603 7.38325L10.0002 2.08325L12.2044 7.38325L17.926 7.84159L13.5669 11.5749L14.8985 17.1583L10.0002 14.1666Z"
                        fill="#F2994A"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_303_421">
                        <rect width="20" height="20" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_303_421)">
                      <path
                        d="M10.0002 14.1666L5.10186 17.1583L6.43353 11.5749L2.0752 7.84159L7.79603 7.38325L10.0002 2.08325L12.2044 7.38325L17.926 7.84159L13.5669 11.5749L14.8985 17.1583L10.0002 14.1666Z"
                        fill="#F2994A"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_303_421">
                        <rect width="20" height="20" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="10"
                    height="20"
                    viewBox="0 0 10 20"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_303_437)">
                      <path
                        d="M10.0002 14.1666L5.10186 17.1583L6.43353 11.5749L2.0752 7.84159L7.79603 7.38325L10.0002 2.08325L12.2044 7.38325L17.926 7.84159L13.5669 11.5749L14.8985 17.1583L10.0002 14.1666Z"
                        fill="#F2994A"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_303_437">
                        <rect width="10" height="20" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                  <p class="ml-2 text-[#4F4F4F] text-sm">4.5 (1200 Reviews)</p>
                </div>
                <p class="text-sm font-medium text-[#4F4F4F]">
                  Live a little and celbrate with champagne
                </p>
                <div class="flex items-center justify-between">
                  <div class="flex flex-col gap-4">
                    <p class="text-xs text-[#4F4F4F]">
                      Reats include a glass of French champagne, parking and a
                      late checkout. Gym included. Flexible cancellation applies
                    </p>
                    <div>
                      <button
                        class="px-4 py-2 rounded-md text-white bg-[#2F80ED]"
                      >
                        See availability
                      </button>
                    </div>
                  </div>
                  <div class="flex flex-col gap-2 items-end w-full">
                    <p class="text-sm text-[#333]">1 room 2 days</p>
                    <div class="flex items-center gap-2">
                      <p class="text-xl font-medium">$120</p>
                    </div>
                    <p class="text-sm font-light text-[#333]">
                      Includes taxes and fees
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="w-full border border-[#E0E0E0] rounded-md p-5 grid grid-cols-3 gap-5"
            >
              <img
                src="https://s3-alpha-sig.figma.com/img/ffcc/79c8/708888c35c560a9613715b19acfba07b?Expires=1701043200&Signature=O7--poPijaVc5snVJVUhUYbLDvfm2YFzxxfyVqoMuAt36Eb4ez~ydIyJqZosQMxdbEDst8qFIzT~YmiXWEVj5yZYe7mOdms41D2u0N0wIbEywdv~tjRloeRiEqF5MDPKWvufY4GbSEQj2a6bYuEThsCJA8nSRCCm5yY10-FlZBZOndj~pGlSPeQnMSPTrl0ko-LO9~yZOycEyAV~tArXPzqeW0jNNI3~TvJsEsY0LPyOO6Kn9h5DKgnq0FrtEnVmL0FqjZ0uVRmC-kcyEoVfQ6KHHviJiQsnctS2zMF29MbFvbuOhayEqN33~HZu77Zg-FmXQKdHRL8Nz7of2hNp6Q__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                class="rounded-md"
              />
              <div class="col-span-2 flex flex-col gap-2 w-full relative">
                <h3 class="text-xl font-medium">Shanghai Open House</h3>
                <div class="flex items-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_303_421)">
                      <path
                        d="M10.0002 14.1666L5.10186 17.1583L6.43353 11.5749L2.0752 7.84159L7.79603 7.38325L10.0002 2.08325L12.2044 7.38325L17.926 7.84159L13.5669 11.5749L14.8985 17.1583L10.0002 14.1666Z"
                        fill="#F2994A"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_303_421">
                        <rect width="20" height="20" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_303_421)">
                      <path
                        d="M10.0002 14.1666L5.10186 17.1583L6.43353 11.5749L2.0752 7.84159L7.79603 7.38325L10.0002 2.08325L12.2044 7.38325L17.926 7.84159L13.5669 11.5749L14.8985 17.1583L10.0002 14.1666Z"
                        fill="#F2994A"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_303_421">
                        <rect width="20" height="20" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_303_421)">
                      <path
                        d="M10.0002 14.1666L5.10186 17.1583L6.43353 11.5749L2.0752 7.84159L7.79603 7.38325L10.0002 2.08325L12.2044 7.38325L17.926 7.84159L13.5669 11.5749L14.8985 17.1583L10.0002 14.1666Z"
                        fill="#F2994A"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_303_421">
                        <rect width="20" height="20" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_303_421)">
                      <path
                        d="M10.0002 14.1666L5.10186 17.1583L6.43353 11.5749L2.0752 7.84159L7.79603 7.38325L10.0002 2.08325L12.2044 7.38325L17.926 7.84159L13.5669 11.5749L14.8985 17.1583L10.0002 14.1666Z"
                        fill="#F2994A"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_303_421">
                        <rect width="20" height="20" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="10"
                    height="20"
                    viewBox="0 0 10 20"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_303_437)">
                      <path
                        d="M10.0002 14.1666L5.10186 17.1583L6.43353 11.5749L2.0752 7.84159L7.79603 7.38325L10.0002 2.08325L12.2044 7.38325L17.926 7.84159L13.5669 11.5749L14.8985 17.1583L10.0002 14.1666Z"
                        fill="#F2994A"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_303_437">
                        <rect width="10" height="20" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                  <p class="ml-2 text-[#4F4F4F] text-sm">4.5 (1200 Reviews)</p>
                </div>
                <p class="text-sm font-medium text-[#4F4F4F]">
                  Live a little and celbrate with champagne
                </p>
                <div class="flex items-center justify-between">
                  <div class="flex flex-col gap-4">
                    <p class="text-xs text-[#4F4F4F]">
                      Reats include a glass of French champagne, parking and a
                      late checkout. Gym included. Flexible cancellation applies
                    </p>
                    <div>
                      <button
                        class="px-4 py-2 rounded-md text-white bg-[#2F80ED]"
                      >
                        See availability
                      </button>
                    </div>
                  </div>
                  <div class="flex flex-col gap-2 items-end w-full">
                    <p class="text-sm text-[#333]">1 room 2 days</p>
                    <div class="flex items-center gap-2">
                      <p class="text-xl font-medium">$145</p>
                    </div>
                    <p class="text-sm font-light text-[#333]">
                      Includes taxes and fees
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="w-full border border-[#E0E0E0] rounded-md p-5 grid grid-cols-3 gap-5"
            >
              <img
                src="https://s3-alpha-sig.figma.com/img/c445/6ab1/16901802d15b5f3a8421588873e08732?Expires=1701043200&Signature=WAmJhQwt8V7hVpoPYKK8DuyhcXFgAKPgLLWC8ZXLhmDOzqzx3YIuhmNoXguU8ffuw4hZ~89DHTXvHz2J7~CY6Dz7T~TqZxJpGhqFo9661HfezbBMaxqFNB~ekcYy1otoD-8PeOBPoMs9i~uV5UAswvbowKYDcZoE3s3po-I4ACf-AAOd6d10fuiLpvjEbkzq~wJtgSe~yXIWaX-74ffK3PQQ3XlFxOiF5N5J9vfuUDxatWLwz~yyCocKc9g7CyLKDqcqa4cEWXPNeRHlX-uySsk3aCdBOTJPrfZAG2ZaCSXs21ePqo5U4Yms8s-Yn4cJwV-fsDM5-FiA-JDP75qy8A__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                class="rounded-md"
              />
              <div class="col-span-2 flex flex-col gap-2 w-full relative">
                <h3 class="text-xl font-medium">Ocean Waves Resort</h3>
                <div class="flex items-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_303_421)">
                      <path
                        d="M10.0002 14.1666L5.10186 17.1583L6.43353 11.5749L2.0752 7.84159L7.79603 7.38325L10.0002 2.08325L12.2044 7.38325L17.926 7.84159L13.5669 11.5749L14.8985 17.1583L10.0002 14.1666Z"
                        fill="#F2994A"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_303_421">
                        <rect width="20" height="20" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_303_421)">
                      <path
                        d="M10.0002 14.1666L5.10186 17.1583L6.43353 11.5749L2.0752 7.84159L7.79603 7.38325L10.0002 2.08325L12.2044 7.38325L17.926 7.84159L13.5669 11.5749L14.8985 17.1583L10.0002 14.1666Z"
                        fill="#F2994A"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_303_421">
                        <rect width="20" height="20" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_303_421)">
                      <path
                        d="M10.0002 14.1666L5.10186 17.1583L6.43353 11.5749L2.0752 7.84159L7.79603 7.38325L10.0002 2.08325L12.2044 7.38325L17.926 7.84159L13.5669 11.5749L14.8985 17.1583L10.0002 14.1666Z"
                        fill="#F2994A"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_303_421">
                        <rect width="20" height="20" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_303_421)">
                      <path
                        d="M10.0002 14.1666L5.10186 17.1583L6.43353 11.5749L2.0752 7.84159L7.79603 7.38325L10.0002 2.08325L12.2044 7.38325L17.926 7.84159L13.5669 11.5749L14.8985 17.1583L10.0002 14.1666Z"
                        fill="#F2994A"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_303_421">
                        <rect width="20" height="20" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="10"
                    height="20"
                    viewBox="0 0 10 20"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_303_437)">
                      <path
                        d="M10.0002 14.1666L5.10186 17.1583L6.43353 11.5749L2.0752 7.84159L7.79603 7.38325L10.0002 2.08325L12.2044 7.38325L17.926 7.84159L13.5669 11.5749L14.8985 17.1583L10.0002 14.1666Z"
                        fill="#F2994A"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_303_437">
                        <rect width="10" height="20" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                  <p class="ml-2 text-[#4F4F4F] text-sm">4.5 (1200 Reviews)</p>
                </div>
                <p class="text-sm font-medium text-[#4F4F4F]">
                  Live a little and celbrate with champagne
                </p>
                <div class="flex items-center justify-between">
                  <div class="flex flex-col gap-4">
                    <p class="text-xs text-[#4F4F4F]">
                      Reats include a glass of French champagne, parking and a
                      late checkout. Gym included. Flexible cancellation applies
                    </p>
                    <div>
                      <button
                        class="px-4 py-2 rounded-md text-white bg-[#2F80ED]"
                      >
                        See availability
                      </button>
                    </div>
                  </div>
                  <div class="flex flex-col gap-2 items-end w-full">
                    <p class="text-sm text-[#333]">1 room 2 days</p>
                    <div class="flex items-center gap-2">
                      <p class="text-xl font-medium">$310</p>
                    </div>
                    <p class="text-sm font-light text-[#333]">
                      Includes taxes and fees
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="w-full border border-[#E0E0E0] rounded-md p-5 grid grid-cols-3 gap-5"
            >
              <img
                src="https://s3-alpha-sig.figma.com/img/c861/3f50/e8e0cdfa024fe003202c03b41a4c72ea?Expires=1701043200&Signature=Oj~oX1Tpkjtbng2Hhc8QLAcvvzXsteczvGXGzny246-ehGg2jZfjtpGsC2NLG6Xobf97AcRzTRUa5A09U6iBrHWEZTKtBBzDw9xjj-pVGSRz9yfonsNhTaNKT~w5bpJvfuQzNlxv~~pfoQng26cn3a74iUoxMWpaq-HS7sBzjNNpjr9nt0VIttFShM3WxRf1qln~NizfapzzgpO-0bhBTuLd~G6nAasI1adH8JwApces6BBYmgyszKAq4ZfDuM2mbGfSKHfK6uxYPyCVj2iVRlXBQOtMV7FCT6DxVCZl2OwzuVZMF2zUCOsH2~2rRYACZl9pACJTXaOv8x9ZDeOkow__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                class="rounded-md"
              />
              <div class="col-span-2 flex flex-col gap-2 w-full relative">
                <h3 class="text-xl font-medium">Maimi City frontier</h3>
                <div
                  class="absolute z-10 bg-[#F2994A] right-0 rounded-md px-2 py-1 text-xs text-white"
                >
                  <span class="font-medium"
                    >Receive 30% discount on a restaurant</span
                  >
                </div>
                <div class="flex items-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_303_421)">
                      <path
                        d="M10.0002 14.1666L5.10186 17.1583L6.43353 11.5749L2.0752 7.84159L7.79603 7.38325L10.0002 2.08325L12.2044 7.38325L17.926 7.84159L13.5669 11.5749L14.8985 17.1583L10.0002 14.1666Z"
                        fill="#F2994A"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_303_421">
                        <rect width="20" height="20" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_303_421)">
                      <path
                        d="M10.0002 14.1666L5.10186 17.1583L6.43353 11.5749L2.0752 7.84159L7.79603 7.38325L10.0002 2.08325L12.2044 7.38325L17.926 7.84159L13.5669 11.5749L14.8985 17.1583L10.0002 14.1666Z"
                        fill="#F2994A"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_303_421">
                        <rect width="20" height="20" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_303_421)">
                      <path
                        d="M10.0002 14.1666L5.10186 17.1583L6.43353 11.5749L2.0752 7.84159L7.79603 7.38325L10.0002 2.08325L12.2044 7.38325L17.926 7.84159L13.5669 11.5749L14.8985 17.1583L10.0002 14.1666Z"
                        fill="#F2994A"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_303_421">
                        <rect width="20" height="20" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_303_421)">
                      <path
                        d="M10.0002 14.1666L5.10186 17.1583L6.43353 11.5749L2.0752 7.84159L7.79603 7.38325L10.0002 2.08325L12.2044 7.38325L17.926 7.84159L13.5669 11.5749L14.8985 17.1583L10.0002 14.1666Z"
                        fill="#F2994A"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_303_421">
                        <rect width="20" height="20" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="10"
                    height="20"
                    viewBox="0 0 10 20"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_303_437)">
                      <path
                        d="M10.0002 14.1666L5.10186 17.1583L6.43353 11.5749L2.0752 7.84159L7.79603 7.38325L10.0002 2.08325L12.2044 7.38325L17.926 7.84159L13.5669 11.5749L14.8985 17.1583L10.0002 14.1666Z"
                        fill="#F2994A"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_303_437">
                        <rect width="10" height="20" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                  <p class="ml-2 text-[#4F4F4F] text-sm">4.5 (1200 Reviews)</p>
                </div>
                <p class="text-sm font-medium text-[#4F4F4F]">
                  Live a little and celbrate with champagne
                </p>
                <div class="flex items-center justify-between">
                  <div class="flex flex-col gap-4">
                    <p class="text-xs text-[#4F4F4F]">
                      Reats include a glass of French champagne, parking and a
                      late checkout. Gym included. Flexible cancellation applies
                    </p>
                    <div>
                      <button
                        class="px-4 py-2 rounded-md text-white bg-[#2F80ED]"
                      >
                        See availability
                      </button>
                    </div>
                  </div>
                  <div class="flex flex-col gap-2 items-end w-full">
                    <div>
                      <button
                        class="px-2 py-1 bg-[#219653] rounded-md text-white text-sm"
                      >
                        15% off
                      </button>
                    </div>
                    <p class="text-sm text-[#333]">1 room 2 days</p>
                    <div class="flex items-center gap-2">
                      <p
                        class="text-[#EB5757] text-sm font-medium line-through"
                      >
                        $320
                      </p>
                      <p class="text-xl font-medium">$190</p>
                    </div>
                    <p class="text-sm font-light text-[#333]">
                      Includes taxes and fees
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="w-full border border-[#E0E0E0] rounded-md p-5 grid grid-cols-3 gap-5"
            >
              <img
                src="https://s3-alpha-sig.figma.com/img/3a4d/1f6b/f99a6dc3dcd27fc7d373c6517e31f52e?Expires=1701043200&Signature=f5h4CxFLCvw0-tRFGhXS0ZqFH8~uKNB5AuLqiuONeQwKXSV6BeFNBNEd6ni9mf~HUZXpKRwXNXdp0yoMYQNZWDElrDtGBt79nzDXfRtYEbj2qp2hZuOH44PsTSacm5-H0WP0poXFtTzq6umMPi0XVGyrfCJVZEPm0M6sZ5rJ8bSCJeuvWjb~-8dLD3akhpO6vpEklsOve8qVlPq1plz6IxW1pg3bIfFb0LesIQnL9a2z~MNRLAdTDxw1TfEvZOckRLRy0RLP922PTg56407~07OASzwl4ToWDPQ7o9rFJhIbVc-GdTOTAHIjfZ1VISFZxW~-EjeZlkMKi3TfWGQZjA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                class="rounded-md"
              />
              <div class="col-span-2 flex flex-col gap-2 w-full relative">
                <h3 class="text-xl font-medium">Lakeside Motel Warefront</h3>
                <div class="flex items-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_303_421)">
                      <path
                        d="M10.0002 14.1666L5.10186 17.1583L6.43353 11.5749L2.0752 7.84159L7.79603 7.38325L10.0002 2.08325L12.2044 7.38325L17.926 7.84159L13.5669 11.5749L14.8985 17.1583L10.0002 14.1666Z"
                        fill="#F2994A"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_303_421">
                        <rect width="20" height="20" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_303_421)">
                      <path
                        d="M10.0002 14.1666L5.10186 17.1583L6.43353 11.5749L2.0752 7.84159L7.79603 7.38325L10.0002 2.08325L12.2044 7.38325L17.926 7.84159L13.5669 11.5749L14.8985 17.1583L10.0002 14.1666Z"
                        fill="#F2994A"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_303_421">
                        <rect width="20" height="20" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_303_421)">
                      <path
                        d="M10.0002 14.1666L5.10186 17.1583L6.43353 11.5749L2.0752 7.84159L7.79603 7.38325L10.0002 2.08325L12.2044 7.38325L17.926 7.84159L13.5669 11.5749L14.8985 17.1583L10.0002 14.1666Z"
                        fill="#F2994A"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_303_421">
                        <rect width="20" height="20" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_303_421)">
                      <path
                        d="M10.0002 14.1666L5.10186 17.1583L6.43353 11.5749L2.0752 7.84159L7.79603 7.38325L10.0002 2.08325L12.2044 7.38325L17.926 7.84159L13.5669 11.5749L14.8985 17.1583L10.0002 14.1666Z"
                        fill="#F2994A"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_303_421">
                        <rect width="20" height="20" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="10"
                    height="20"
                    viewBox="0 0 10 20"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_303_437)">
                      <path
                        d="M10.0002 14.1666L5.10186 17.1583L6.43353 11.5749L2.0752 7.84159L7.79603 7.38325L10.0002 2.08325L12.2044 7.38325L17.926 7.84159L13.5669 11.5749L14.8985 17.1583L10.0002 14.1666Z"
                        fill="#F2994A"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_303_437">
                        <rect width="10" height="20" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                  <p class="ml-2 text-[#4F4F4F] text-sm">4.5 (1200 Reviews)</p>
                </div>
                <p class="text-sm font-medium text-[#4F4F4F]">
                  Live a little and celbrate with champagne
                </p>
                <div class="flex items-center justify-between">
                  <div class="flex flex-col gap-4">
                    <p class="text-xs text-[#4F4F4F]">
                      Reats include a glass of French champagne, parking and a
                      late checkout. Gym included. Flexible cancellation applies
                    </p>
                    <div>
                      <button
                        class="px-4 py-2 rounded-md text-white bg-[#2F80ED]"
                      >
                        See availability
                      </button>
                    </div>
                  </div>
                  <div class="flex flex-col gap-2 items-end w-full">
                    <div>
                      <button
                        class="px-2 py-1 bg-[#219653] rounded-md text-white text-sm"
                      >
                        15% off
                      </button>
                    </div>
                    <p class="text-sm text-[#333]">1 room 2 days</p>
                    <div class="flex items-center gap-2">
                      <p
                        class="text-[#EB5757] text-sm font-medium line-through"
                      >
                        $320
                      </p>
                      <p class="text-xl font-medium">$300</p>
                    </div>
                    <p class="text-sm font-light text-[#333]">
                      Includes taxes and fees
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div></div>
          <div
            class="flex w-full items-center justify-center gap-4 mt-10 col-span-2"
          >
            <div class="w-10 h-10 bg-[#2F80ED] rounded-full cursor-pointer">
              <span
                class="text-white flex w-full items-center justify-center h-full"
              >
                1
              </span>
            </div>
            <div
              style="background: rgba(47, 128, 237, 0.1)"
              class="w-10 h-10 rounded-full cursor-pointer"
            >
              <span
                class="text-[#2F80ED] flex w-full items-center justify-center h-full"
              >
                2
              </span>
            </div>
            <div
              style="background: rgba(47, 128, 237, 0.1)"
              class="w-10 h-10 rounded-full cursor-pointer"
            >
              <span
                class="text-[#2F80ED] flex w-full items-center justify-center h-full"
              >
                3
              </span>
            </div>
            <div
              style="background: rgba(47, 128, 237, 0.1)"
              class="w-10 h-10 rounded-full cursor-pointer"
            >
              <span
                class="text-[#2F80ED] flex w-full items-center justify-center h-full"
              >
                10
              </span>
            </div>
          </div>
        </div>
      </div>
    </section>

        <!-- Footer -->
    <section class="mt-32">
      <div class="max-w-7xl mx-auto w-full grid grid-cols-5 gap-14">
        <div class="flex flex-col gap-2">
          <div class="flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M3.414 13.778C2.5 14 2 15.192 2 15.192C2 15.192 5.398 15.626 6.949 17.313C8.5 19 9.071 22.263 9.071 22.263C9.071 22.263 10.47 22.698 10.485 20.849C10.5 19 9.778 17.313 9.778 17.313L13.091 14L16.701 21.704C16.701 21.704 18.08 22.23 18.04 20.365C18 18.5 16.85 10.242 16.85 10.242L19.678 7.413C19.869 7.22851 20.0214 7.00782 20.1262 6.76381C20.231 6.5198 20.2862 6.25736 20.2885 5.99181C20.2908 5.72625 20.2402 5.46289 20.1396 5.21709C20.0391 4.9713 19.8906 4.748 19.7028 4.56021C19.515 4.37243 19.2917 4.22392 19.0459 4.12336C18.8001 4.0228 18.5368 3.97219 18.2712 3.9745C18.0056 3.97681 17.7432 4.03198 17.4992 4.1368C17.2552 4.24162 17.0345 4.39398 16.85 4.585L13.947 7.488C13.947 7.488 6.148 6.09401 3.824 6.297C1.5 6.5 2.559 7.563 2.559 7.563L10.203 11.233L6.95 14.486C6.95 14.486 4.328 13.556 3.414 13.778Z"
                fill="#2F80ED"
              />
            </svg>
            <strong class="text-lg">my Dream Place</strong>
          </div>
          <p class="ml-8 text-sm text-[#4F4F4F]">Your next goto companion for travel</p>
        </div>
        <div class="flex flex-col gap-4">
          <h4 class="text-lg font-semibold">Company</h4>
          <div class="flex flex-col gap-2">
            <p class="text-sm text-[#4F4F4F]>
              About
            </p>
            <p class="text-sm text-[#4F4F4F]">
              Jobs
            </p>
            <p class="text-sm text-[#4F4F4F]">
              Newsroom
            </p>
            <p class="text-sm text-[#4F4F4F]">
              Advertising
            </p>
            <p class="text-sm text-[#4F4F4F]">
              Contact us
            </p>

          </div>
        </div>
        <div class="flex flex-col gap-4">
          <h4 class="text-lg font-semibold">Explore</h4>
          <div class="flex flex-col gap-2">
            <p class="text-sm text-[#4F4F4F]">
              Australia
            </p>
            <p class="text-sm text-[#4F4F4F]">
              New Zealand
            </p>
            <p class="text-sm text-[#4F4F4F]">
              United States America (USA)
            </p>
            <p class="text-sm text-[#4F4F4F]">
              Greece
            </p>
            <p class="text-sm text-[#4F4F4F]">
              Maldives
            </p>
            <p class="text-sm text-[#4F4F4F]">
              Singapore
            </p>
            <p class="text-[#2F80ED] text-sm cursor-pointer">
              See more
            </p>
          </div>
        </div>
        <div class="flex flex-col gap-4">
          <h4 class="text-lg font-semibold">Terms and Policies</h4>
          <div class="flex flex-col gap-2">
            <p class="text-sm text-[#4F4F4F]">
              Privacy Policy
            </p>
            <p class="text-sm text-[#4F4F4F]">
              Terms of use
            </p>
            <p class="text-sm text-[#4F4F4F]">
              Acessibility
            </p>
            <p class="text-sm text-[#4F4F4F]">
              Reward system policy
            </p>
          </div>
        </div>
        <div class="flex flex-col gap-4">
          <h4 class="text-lg font-semibold">Help</h4>
          <div class="flex flex-col gap-2">
            <p class="text-sm text-[#4F4F4F]">
              Support
            </p>
            <p class="text-sm text-[#4F4F4F]">
              Cancel your bookings
            </p>
            <p class="text-sm text-[#4F4F4F]">
              Use Coupon
            </p>
            <p class="text-sm text-[#4F4F4F]">
              Refund Policies
            </p>
            <p class="text-sm text-[#4F4F4F]">
              International Travel Documents
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>